img{
    width:200px;
    height:200px;
    
}
#red{
    color:red;
}
#blue{
    color:blue
}
#green{
    color:green
}
#yellow{
    color:yellow
}
#orange{
    color:orange
}
.color-title{
    font-weight: normal;
}