body{
    background-color:black;
    font-family: 'Libre Baskerville', serif;
}
img{
    border: 1px solid white;
    margin-top: 150px;

    
}
div{
    text-align: center;
    color:yellow;
}
p{
    color:aqua
}
h1{
    text-transform:uppercase;
}